:host {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;

  & label {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }

  & label div span:nth-child(2) {
    color: var(--clr-red);
  }

  & small {
    font-size: 0.855rem;
    color: #888;
  }

  //  .input-div {
  //   // width: 100%;
  //   display: flex;
  //   align-items: center;
  //   gap: 18px;
  //
  //   // border-radius: 5px;
  //   // // outline: 1px solid rgba(0, 0, 0, 0.1);s
  //   // border-radius: 5px;
  //   // padding: 10px 24px;
  //   // height: 37px;
  // }
  & .input-div {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 18px;

    border-radius: 5px;
    outline: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    min-height: 37px;
    max-height: 86px;
    position: relative;

    & .icon-container {
      position: absolute !important;
      top: 40%;

      &.left {
        left: 10px;
      }
      &.right {
        right: 10px;
      }
    }
  }
}
