<div class="table-heading">
  <div class="text-container">
    <span>Total des utilisateurs: </span>
    <small
      >({{
        totalItems !== undefined ? totalItems : datas?.length ?? 0
      }}
      utilisateurs)</small
    >
  </div>
  <div class="filter-container">
    <div class="d-flex gap-4 align-items-center">
      <custom-select
        [options]="columnOptions"
        [formControl]="filterSelectController"
        placeholder="Sélectionner une colonne"
      >
      </custom-select>
      <input
        type="text"
        [placeholder]="'Rechercher par ' + filterSelectController.value"
        [formControl]="filterInputController"
        style="border: 1px solid #eee"
        *ngIf="
          filterSelectController.value &&
          !['CERTIFIED', 'NOT_CERTIFIED', 'finalCertificationStatus'].includes(
            filterSelectController.value
          )
        "
      />
      <custom-select
        [options]="statusOptions"
        [formControl]="filterSelectController2"
        placeholder="Sélectionner un statut"
        *ngIf="
          filterSelectController.value &&
          ['CERTIFIED', 'NOT_CERTIFIED', 'finalCertificationStatus'].includes(
            filterSelectController.value
          )
        "
      >
      </custom-select>
      <button
        class="generic-btn"
        [variante]="'tertiary'"
        [text]="'Filtrer'"
        type="button"
        (click)="onFilterFormChange()"
        *ngIf="filterSelectController.value"
      ></button>
    </div>

    <!-- <button
      class="generic-btn"
      [variante]="'primary'"
      text="Telecharger"
      type="button"
      (click)="onExport()"
    >
      <div class="plus-component"></div>
    </button> -->
  </div>
  <!-- <div class="filter-container">
    <input
      type="text"
      [placeholder]="'Rechercher par ' + filterSelectController.value"
      [formControl]="filterInputController"
      style="border: 1px solid #eee"
    />
    <select [formControl]="filterSelectController">
      <option *ngFor="let col of columns" [value]="col.key">
        {{ col.label }}
      </option>
      <option value="">Tous</option>
    </select>
  </div> -->
</div>
<div class="table-scroll-container rounded">
  <table *ngIf="datas && datas.length; else emptyUserList">
    <thead>
      <tr>
        <th *ngFor="let col of columns">
          <div style="display: flex; align-items: center; gap: 0.675rem">
            <span>{{ col.label }}</span>
            <div>
              <svg
                *ngIf="col.sortable"
                width="18"
                height="18"
                viewBox="0 0 18 18"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M6 9.75V4.36875L4.06875 6.3L3 5.25L6.75 1.5L10.5 5.25L9.43125 6.3L7.5 4.36875V9.75H6ZM11.25 16.5L7.5 12.75L8.56875 11.7L10.5 13.6313V8.25H12V13.6313L13.9313 11.7L15 12.75L11.25 16.5Z"
                  fill="black"
                />
              </svg>
            </div>
          </div>
        </th>
        <th *ngIf="actions">
          <span> Actions </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of datas">
        <td *ngFor="let col of columns">
          <!-- Troncature pour name, email et departmentName -->
          <span
            *ngIf="
              col.key !== 'finalCertificationStatus' &&
              (col.key === 'name' ||
                col.key === 'email' ||
                col.key === 'departmentName')
            "
            [title]="row?.[col.key]"
          >
            {{ (row?.[col.key] ?? "---") | truncate: truncateLimit }}
          </span>

          <!-- Valeur non tronquée pour les autres colonnes (hors statut final) -->
          <span
            *ngIf="
              col.key !== 'finalCertificationStatus' &&
              col.key !== 'name' &&
              col.key !== 'email' &&
              col.key !== 'departmentName'
            "
          >
            {{ row?.[col.key] ?? "---" }}
          </span>

          <!-- Statut final non tronqué mais stylé -->
          <span *ngIf="col.key === 'finalCertificationStatus'">
            <span
              [title]="row?.[col.key]"
              [ngClass]="{
                  'certified': row?.[col.key] === 'certifié',
                  'uncertified': row?.[col.key] === 'non certifié',
                }"
            >
              {{ row?.[col.key] ?? "---" }}
            </span>
          </span>
        </td>
        <td *ngIf="actions">
          <ng-container
            *ngIf="actionTemplate"
            [ngTemplateOutlet]="actionTemplate"
            [ngTemplateOutletContext]="{ $implicit: row }"
          ></ng-container>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #emptyUserList>
    <span *ngIf="!datas || !datas.length">Liste vide ...</span>
  </ng-template>
</div>
