:host {
  display: grid;
  grid-template-columns: minmax(0, auto) 1fr;
  height: 100vh;

  & > .right-side {
    overflow-x: hidden;
    padding: 0px 1rem;
    overflow-y: scroll;
    

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer et Edge */
    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari et Opera */
    }
  }
}

@media (max-width: 768px) {
  :host {
    grid-template-columns: 90px 1fr;
  }
}
