:host {
  display: grid;
  height: 100%;
  gap: 0.5rem 0px;
  align-content: start;
  max-height: 100vh;
  overflow-y: scroll;
  padding-inline: 0.715rem;

  /* Cacher la scrollbar pour Webkit (Chrome, Safari, Edge Chromium) */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Cacher la scrollbar pour Firefox */
  scrollbar-width: none;

  /* Cacher la scrollbar pour IE et Edge Legacy */
  -ms-overflow-style: none;

  & .campagne-container {
    margin-block-start: 1.688rem;
    outline: 2px solid rgb(224, 224, 224);
    border-radius: 8px;
    padding: 0.875rem;
    display: grid;
    gap: 0.5rem 0px;
  }

  & > div:not(.campagne-container) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-block-start: 2.6rem;
    justify-content: space-between;
  }

  & .heading-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  & .heading-wrapper .heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  & > div:nth-child(1) [variante] {
    width: 100%;
    max-width: 315px;
  }

  & > div span:nth-child(1) {
    font-weight: 700;
  }

  & #emptyApp {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
