<div class="header-group" #headerGroup>

  <div class="header-group-heading mt-4">
    <div class="header-group-title">
      <h2>Interface des paramétrages</h2>
      <p>
        Gérez les paramètres : ajouter, modifier et/ou supprimer les
        questionnaires
      </p>
    </div>
   
  </div>
  <div>
    <nav-parametrage />
  </div>
    <div class="d-flex align-items-center mt-4 pb-2">
      <a routerLink="/parametrage/questionnaires" class="text-secondary">Paramétrage / </a>
      <span> Gestion des reponses</span>
    </div>



  <div>
    <app-generic-table-v4
      [datas]="listReponse"
      [totalItems]="count" 
      [nameListe]="'reponses'"
      [btnTextCreate]="'Ajouter une reponse'"
      [isViewDelete]="true" 
      [isAction]="true" 
      [isViewUpdate]="true"
      [columns]="columnsReponse"
      [totalItems]="count"
      (onSearch)="onSearch($event)"
      (pageChange)="onPageChange($event)" 
      (onFilterUser)="onFilterReponse()"
      (onCreateUser)="onCreateReponse()"
      (editClick)="onEditClick($event)" 
      (deleteClick)="onDeleteClick($event)"
      (emitChangeFilter)="onFilterChanged($event)"
    />
    <pagination
      [currentPage]="currentPage"
      [totalItems]="count"
      [pageSize]="pageSize"
      (pageChange)="onPageChange($event)"
    ></pagination> 
  </div>
  


</div>