<form [formGroup]="resetForm" (submit)="submit()">
  <error-message [errorMessage]="errorMessage"   *ngIf="showErrorMessage" />
  <h2>Création d'un nouveau mot de passe</h2>
  <div class="advice-container">
    <ul>
      <li>Utiliser une longueur minimale de 8 caractères.</li>
      <li>
        Inclure un mélange de lettres majuscules et minuscules, de chiffres et de
        symboles.
      </li>
      <li>Éviter les mots de passe courants ou faciles à deviner.</li>
    </ul>
  </div>
  <!-- <form-control label="Nouveau mot de passe">
    <input type="text" id="passwordUpdate" />
  </form-control>
  <form-control label="Confirmer le mot de passe">
    <input type="text" id="passwordUpdateConfirm" />
  </form-control> -->

  <form-control [label]="AUTH_TEXT.RESET_PASSWORD.LABELS.PASS_LABEL" icon="show-icon"
  [isRequiredField]="
    !resetForm.controls.passwordUpdate.valid &&
    resetForm.controls.passwordUpdate.touched
  ">
    <ng-container>
      <input
        [type]="showPasswordNew ? 'text' : 'password'"
        [id]=""
        maxlength="20"
        [placeholder]="'Entrer le mot de passe'"
        formControlName="passwordUpdate"
      />
    </ng-container>
    <ng-container icon-slot>
      <div
        *ngIf="!showPasswordNew"
        (click)="togglePasswordNew()"
        style="cursor: pointer"
        class="show-icon"
      ></div>
      <div
        *ngIf="showPasswordNew"
        (click)="togglePasswordNew()"
        style="cursor: pointer"
        class="hidde-icon "
      ></div>
    </ng-container>
  </form-control>

  <form-control [label]="AUTH_TEXT.RESET_PASSWORD.LABELS.CONF_PASS_LABEL"
  [isRequiredField]="
    !resetForm.controls.passwordUpdateConfirm.valid &&
    resetForm.controls.passwordUpdateConfirm.touched
  ">
    <ng-container>
      <input
        [type]="showPasswordConfirm ? 'text' : 'password'"
        [id]=""
        maxlength="20"
        [placeholder]="'Entrer le mot de passe'"
        formControlName="passwordUpdateConfirm"
      />
    </ng-container>
    <ng-container icon-slot>
      <div
        *ngIf="!showPasswordConfirm"
        (click)="togglePasswordConfirm()"
        style="cursor: pointer"
        class="show-icon"
      ></div>
      <div
        *ngIf="showPasswordConfirm"
        (click)="togglePasswordConfirm()"
        style="cursor: pointer"
        class="hidde-icon"
      ></div>
    </ng-container>
  </form-control>


  <!-- <form-control
  [label]="AUTH_TEXT.RESET_PASSWORD.LABELS.PASS_LABEL"
  [isRequiredField]="
    !resetForm.controls.passwordUpdate.valid &&
    resetForm.controls.passwordUpdate.touched
  "
  icon="show-icon"
  (showIconEvent)="togglePassword($event, 'new')"
>
  <input
    [type]="showPasswordNew ? 'text' : 'password'"
    [id]=""
    [placeholder]="'******************'"
    formControlName="passwordUpdate"
  />
</form-control>
<form-control
[label]="AUTH_TEXT.RESET_PASSWORD.LABELS.CONF_PASS_LABEL"
  [isRequiredField]="
    !resetForm.controls.passwordUpdateConfirm.valid &&
    resetForm.controls.passwordUpdateConfirm.touched
  "
  icon="show-icon"
  (showIconEvent)="togglePassword($event, 'confirm')"
>
  <input
    [type]="showPasswordConfirm ? 'text' : 'password'"
    [id]=""
    [placeholder]="'******************'"
    formControlName="passwordUpdateConfirm"
  />
</form-control> -->



  <button
    class="generic-btn"
    variante="primary"
    text="Valider"
    type="submit"
    [disabled]="isSubmit || resetForm.invalid"
  ></button>
  <button
    class="generic-btn"
    variante="tertiary"
    text="Retour"
    type="button"
    (click)="onOtp()"
  ></button>
  <button
    class="back"
    type="button"
    (click)="onPageConnexion()"
  >Retour à la page de connexion</button>
</form>
