:host {
  display: block;
  padding-block-end: 1.5rem;

  & form {
    padding-inline: 2rem;
    display: grid;
    gap: 2rem 0px;
  }

  & label {
    background-color: var(--clr-dark);
    color: #fff;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0.25rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
  }

  & .close-icon {
    cursor: pointer;
    &:hover {
      background: var(--clr-red-100);
    }
  }

  & .disabled {
    cursor: not-allowed !important;
    opacity: 0.5;
  }

  & .campagne {
    &_btn-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 0.5rem;
    }

    &_date-container {
      width: 50%;
    }

    &_date {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
    }

    &_app {
      display: grid;
      gap: 0.5rem 0px;
    }

    &_app-sugestions {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 0.5rem 0.715rem;
    }

    &_app-sugestions span.badge {
      cursor: pointer;
      &:hover {
        background-color: var(--clr-dark);
        color: #fff;
      }

      &.active {
        background-color: var(--clr-dark);
        color: #fff;
      }
    }

    &_app-sugestions > div {
      width: 100%;
      overflow-x: scroll;
      display: flex;
      align-items: center;
      gap: 0.625rem;
      /* Cacher la scrollbar pour Webkit (Chrome, Safari, Edge Chromium) */
      &::-webkit-scrollbar {
        display: none;
      }

      /* Cacher la scrollbar pour Firefox */
      scrollbar-width: none;

      /* Cacher la scrollbar pour IE et Edge Legacy */
      -ms-overflow-style: none;
    }

    &_empty {
      border-radius: 8px;
      border: 2px dashed #d1d1d1;
      padding: 2.3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &_fill {
      display: grid;
      align-content: start;
      gap: 0.625rem 0rem;
      max-height: 12.75rem;
      overflow-y: scroll;
      /* Cacher la scrollbar pour Webkit (Chrome, Safari, Edge Chromium) */
      &::-webkit-scrollbar {
        display: none;
      }

      /* Cacher la scrollbar pour Firefox */
      scrollbar-width: none;

      /* Cacher la scrollbar pour IE et Edge Legacy */
      -ms-overflow-style: none;
    }
  }
  & .campagne_fill__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
  }

  & .preview-btn {
    display: flex;
    width: 32px;
    height: 32px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    color: var(--clr-dark);
    gap: 8px;
    border: 1px solid rgba(231, 231, 231, 1);
    border-radius: 0.5rem;
    cursor: pointer;
    // position: absolute;
    left: 40%;

    &:hover {
      background-color: var(--clr-primary-100);
    }
  }
}
